@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }
  body{
    background:url("sugarandspice.png");
    background-size: cover;
  }
  
  #root {
    height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .joinOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
   
    
    
  }
  
  .joinInnerContainer {
    width: 20%;
  }
  
  .joinInput {
    border-radius: 0;
    padding: 15px 20px;
    width: 100%;
  }
  
  .heading {
    color: white;
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    font-family: 'Montaga', serif;
  }
  .big_heading {
    color: white;
    font-size: 4em;
    padding-right: 1em;
    padding-bottom: 2em;
    font-family: 'Montaga', serif;
  }
  .button {
      color: #fff !important;
      text-transform: uppercase;
      font-family: 'Montaga', serif;
      text-decoration: none;
      background: #2979FF;
      padding: 20px;
      border-radius: 5px;
      display: inline-block;
      border: none;
      width: 100%;
  }
  
  .mt-20 {
    margin-top: 20px;
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
      width:vw;
      
      flex-direction: column;
      justify-content: space-around;
    }
  
    .joinInnerContainer {
      width: 60%;
      margin-left: 3.5em;
      margin-bottom:9em;
    }
    .big_heading{
      font-size:3em;
      margin-top: 2em;
      margin-bottom:0;
      margin-left: 2em;
      
    }
  
  
  }
  
  button:focus {
    outline: 0;
  }